extends layout

block content
  h2 #{title}
  div(style="position:relative;left:40px")
    p #{description}
    a(href=group_url+"/post/create")
        button 发帖
    br
    a(href=group_url+"/recentusers")
        button 活跃成员
  if allposts.length
    ul
      each post in allposts
        li
          article.card
            header 
              a(href=post.url) #{post.title}
            footer
            |  #{post.content}

  else
    p 现在还没有帖子喵