
extends layout

block content
  h2= title
  div(style="justify-content: center;align-items: center;width: 80vh;margin: auto;padding: auto;")
    article.card
      header
        p 发帖人:#{name}
      footer
        p #{content}
        if image
          img(src=`data:${image.contentType};base64,${base64}`, alt='图片',style="max-width: 400px;")
          //- img(src={`data:${image.contentType};base64,${base64}`},alt="图片")
    if reply_list.length
      ul.card
        each reply in reply_list
            li.card
              p #{reply}
    else
        p 没有回复喵 
      form(method="POST")
        label(for='reply') 评论:
        textarea#reply.form-control(placeholder='评论' name='reply' )= undefined===post ? '' : post.reply  
        button.btn.btn-primary(type='submit') 提交