
extends layout

block content
  h2= title
  article.card
    header
      p 发帖人:#{name}
    footer
      p #{content}
      if image
        img(src=`data:${image.contentType};base64,${base64}`, alt='图片')
        //- img(src={`data:${image.contentType};base64,${base64}`},alt="图片")
  if reply_list.length
   ul
      each reply in reply_list
        li
          article.card 
            header
              p #{reply}
  else
    p 没有回复喵 
  form(method="POST").card
    label(for='reply') 评论:
    textarea#reply.form-control(placeholder='评论' name='reply' )= undefined===post ? '' : post.reply  
    button.btn.btn-primary(type='submit') 提交